@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #464648;
}

a {
    text-decoration: none;
}

@keyframes slide-left {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0px);
    }
  }

@keyframes slide-right {
    0% {
        transform: translateX(300px);
      }
    100% {
        transform: translateX(0px);
    }
  }
  
@keyframes header-shadow {
    0% {
        box-shadow: 0px 0px 30px #202021;
    }
    50% {
        box-shadow: 0px 0px 100px #202021;
    }
    100% {
        box-shadow: 0px 0px 30px #202021;
    }
  }

  @keyframes up-down1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
  }

  @keyframes up-down2 {
    0% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5%);
    }
  }

  @keyframes up-down3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
  }



.header {
    background: #202021;
    position: fixed;
    width: 100vw;
    padding: 5px;
    animation: header-shadow 2s infinite;
    z-index: 1000;
}

.header__navbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.navbar__button {
    text-decoration: none;
    color: #c6c6c0;
    margin: 0px 4%;
}

.navbar__button:hover {
    color: #959591;
    border-bottom: 1px solid #ab8f3b;
}

.navbar__button--rounded {
    border: 2px #c6c4c0 solid;
    padding: 5px 22px;
    border-radius: 20px;
    color: #c6c4c0;
}

.navbar__button--rounded:hover {
    border: 2px #ab8f3b solid;
    padding: 5px 22px;
    border-radius: 20px;
    color: #ab8f3b;
}


.presentation {
    height: 100vh;
    padding: 60px 0px 0px 0px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #464648;
    color: #C6C6C0
}

.presentation__leftside {
    width: 50%;
    display: flex;
}

.presentation__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 10px #000;
}

.presentation__title {
    font-size: 2.5rem;
    margin: 0px 0px 5% 0px;
    text-align: center;
    animation: slide-right .5s;
}

.presentation__paragraph {
    font-size: 1.4rem;
    width: 70%;
    text-align: center;
    font-weight: 200;
    animation: slide-right 1s;
}

.presentation__paragraph--bold {
    font-weight: 600;
}

.presentation__rightside {
    width: 50%;
    display: flex;
}

.presentation__image {
    width: 100%;
    object-fit: contain;
}

.presentation__image--rounded {
    border-radius: 20%;
}

.discover {
    background: #0B0B0E;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 20px;
    max-width: 1440px;
    margin: 0 auto;   
}

.section__title--center {
    text-align: center;
    font-size: 3rem;
}

.discover__discover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.discover__title {
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}

.discover__book {
    width: 26%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    overflow: hidden;
    height: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    filter: saturate(0);
    transition: all .5s ease-in-out;
}

.discover__book:hover{
    transition: all 1s ease-in-out;
    scale: 110%;
    filter: saturate(100%);
    box-shadow: 0px 1px 30px 0px #222;
    -webkit-box-shadow: 0px 1px 30px 0px #222;
    -moz-box-shadow: 0px 1px 30px 0px #222;
}

.book__image {
    height: 180px;
    object-fit: cover;
}

.book__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.book__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.book__paragraph {
    font-size: 0.8rem;
    font-weight: 200;
}

.book__technologies {
    padding: 20px;
    color: #d8be71;
}


.generes {
    background: #0B0B0E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;   
}

.generes__leftside {
    width: 50%;
    padding: 40px;
    min-width: 500px;
}

.generes__rightside {
    width: 50%;
    padding: 40px;
    min-width: 500px;
}

.section__title {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    margin: 20px;
    color: #C6C6C0;
}

.genere__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.genere__item {
    background: #666669;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: #C6C6C0;
    transition: all 1s;
}

.genere__item:hover {
    transition: all 1s;
    box-shadow: -5px 5px 10px 0px #959591;
    text-shadow: 0px 0px 10px #777;
}

.genere__item--romance {
    grid-column: 2 / span 2;
}

.genere__item--noficcion {
    grid-column: 1 / span 2;
}

.genere__item--py {
    grid-column: 3 / span 2;
    animation: ani 1s;
}

.genere__item--recetas {
    padding-top: 25px;
    padding-bottom: 15px;
}

.genere__icon {
    font-size: 4rem;
}

.news {
    padding: 40px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1440px;
}

.news__item {
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #202021;
    box-shadow: 0px 5px 10px 0px #959591;
    border-top: 4px solid #ab8f3b;
    color: #fff;
    width: 280px;
    height: 280px;
}

.news__item--1 {
    animation: up-down1 2s infinite ease-in-out;
}

.news__item--2 {
    animation: up-down2 3s infinite ease-in-out;
}

.news__item--3 {
    animation: up-down3 4s infinite ease-in-out;
}

.news__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.news__date {
    font-weight: 600;
    font-style: italic;
}

.news__content {
    font-size: 0.9rem;
    font-weight: 400;
}

.login__container {
    background: #fff;
    color: #000;
    width: 50%;
    max-width: 500px;
    padding: 0px;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #000;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.login__field {
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-family: "Aileron", sans-serif;
    margin-bottom: 40px;
}

.login__field:focus {
    outline: none;
}

.login__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.login__submit {
    background: #ab8f3b;
    height: 60px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
}

.footer {
    background: #202021;
    color: #fff;
    font-weight: 400;
    padding: 20px;
}
